/* ini adalah rule umum */
/* Color
#2B3752
#F4F7ED
#2E6E65
#86EE60 */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	background-color: #fcfcfc;
}

.padding {
	padding: 0 4%;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Inter", sans-serif;
}

h1 {
	font-size: 2.488rem;
}

h2 {
	font-size: 2.074rem;
}

h3 {
	font-size: 1.728rem;
}

h4 {
	font-size: 1.44rem;
}

h5 {
	font-size: 1.2rem;
}

p {
	font-size: 1rem;
}

p,
a,
button {
	font-family: "Poppins", sans-serif;
}

/* rule untuk header */
header {
	margin-bottom: 50rem;
}

.nav-bar {
	width: 100%;
	padding: 0.7rem 4% 0.9rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	transition: 0.3s ease-in-out;
}

.nav-active {
	background-color: #2b3752b0;
	box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.159);
	transition: 0.3s ease-in-out;
}

.navbar-logo {
	height: 3rem;
}

.humburger {
	display: none;
}

.list-navbar ul li {
	display: inline-block;
	margin-right: 0.8rem;
}

.list-navbar ul li:last-of-type {
	margin-right: 0;
}

.list-navbar ul li a {
	color: #fcfcfc;
	font-weight: 500;
	opacity: 0.8;
}

.list-navbar ul li a:hover {
	opacity: 1;
	transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-image: url("/assets/image/hero-img.jpg");
	background-size: cover;
	/* object-fit: cover; */
}

.article-hero {
	width: 50%;
	color: #fcfcfc;
}

.article-hero h1 {
	font-weight: 700;
	line-height: 3.5rem;
	margin-bottom: 1rem;
}

.article-hero p {
	margin-bottom: 1.5rem;
	line-height: 1.5rem;
}

.explore,
.book-now {
	padding: 0.6rem 0.9rem;
	background-color: #2b3752;
	color: #fcfcfc;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.explore {
	margin-right: 0.7rem;
}

.book-now {
	background-color: #fcfcfc00;
	border: 1px solid;
}

@media only screen and (max-width: 769px) {
	.nav-bar {
		background-color: #ffffff43;
		transition: 0.3s ease-in-out;
	}

	.humburger {
		display: block;
		cursor: pointer;
	}

	.humburger .line {
		width: 30px;
		background-color: #fefefe;
		height: 3px;
		margin: 6px 0;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-ms-border-radius: 2px;
		-o-border-radius: 2px;
	}

	.list-navbar {
		height: 0;
		position: absolute;
		top: 70.4px;
		left: 0;
		right: 0;
		width: 100vw;
		background-color: #f1f1e8;
		transition: 0.2s;
		overflow: hidden;
		transition: 0.5s ease-in-out;
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		-ms-transition: 0.5s ease-in-out;
		-o-transition: 0.5s ease-in-out;
	}

	.list-navbar ul {
		text-align: center;
		opacity: 0;
	}

	.list-navbar ul li {
		display: block;
		margin: 1rem 0;
	}

	.list-navbar.active-humburger {
		/* height: 218px; */
		height: 1000px;
	}

	.list-navbar.active-humburger ul {
		opacity: 1;
	}
}
