/* ini adalah rule umum */
/* Color
#2B3752
#F4F7ED
#2E6E65
#86EE60 
#e8eeda*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Inter", sans-serif;
}

h1 {
	font-size: 2.488rem;
	font-weight: 700;
	line-height: 3.5rem;
	margin-bottom: 1rem;
}

h2 {
	font-size: 2.074rem;
}

h3 {
	font-size: 1.728rem;
}

h4 {
	font-size: 1.44rem;
}

h5 {
	font-size: 1.125rem;
}

p {
	font-size: 1rem;
}

p,
a,
button,
label,
input {
	font-family: "Poppins", sans-serif;
}

button {
	padding: 0.6rem 0.9rem;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 0.9rem;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

button:hover {
	box-shadow: 1px 1px 13px 4px rgba(0, 0, 0, 0.37);
}

.padding-x {
	padding: 0 4%;
}

.padding-y {
	padding-top: 4.5rem;
	padding-bottom: 5rem;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

/* .margin-top {
	margin-top: 5rem;
} */

.mobile-version {
	display: none;
}

.color-h {
	color: #2b3752;
}

.hover-img:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.transisi-img {
	transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
}

.btn-transparent {
	background-color: #fcfcfc00;
	border: 1px solid #2b3752d1;
}

.hidden,
.small-device {
	display: none !important;
}

/* rule untuk header */
header {
	margin-bottom: 2.5rem;
}

.nav-bar {
	width: 100%;
	padding: 0.7rem 4% 0.9rem;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	transition: 0.3s ease-in-out;
	z-index: 2;
}

.nav-active {
	background-color: #2b3752;
	box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.159);
	transition: 0.3s ease-in-out;
}

.nav-active .list-navbar ul li a:hover {
	color: #e8eeda;
	text-decoration-color: #e8eeda;
	-moz-text-decoration-color: #e8eeda;
}

.navbar-logo {
	height: 3rem;
}

.humburger {
	display: none;
}

.list-navbar ul li {
	display: inline-block;
	margin-right: 1rem;
}

.list-navbar ul li:last-of-type {
	margin-right: 0;
}

.list-navbar ul li a {
	color: #fcfcfc;
	font-weight: 400;
}

.list-navbar ul li a:hover {
	color: #86ee60;
	transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	text-decoration: underline;
	text-decoration-color: #86ee60;
	-moz-text-decoration-color: #86ee60;
}

.hero {
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-image: url("../image/hero-img.jpg");
	background-size: cover;
}

.article-hero {
	width: 50%;
	color: #fcfcfc;
}

.article-hero p {
	margin-bottom: 1.5rem;
	line-height: 1.5rem;
}

.explore,
.book-now {
	background-color: #2b3752;
	color: #fcfcfc;
}

.explore {
	margin-right: 0.7rem;
}

.book-now {
	background-color: #fcfcfc00;
	border: 1px solid;
}

/* introduce bali */
.introduce-bali {
	justify-content: space-between;
}

.text-introduce-bali p {
	color: #161515;
	line-height: 1.7rem;
}

.text-introduce-bali p:first-of-type {
	margin-bottom: 1rem;
}

.text-introduce-bali {
	justify-content: center;
	padding-right: 3rem;
	width: 50%;
}

.img-introduce-bali {
	width: 45%;
	aspect-ratio: 1/1;
	overflow: hidden;
}

.img-introduce-bali img {
	width: 100%;
	border: 1px solid #2b375277;
}

/* bagian top destionation */
.top-destination {
	background-color: #f4f7ed;
}

.top-destination h1 {
	width: 60%;
}

.top-destination > p {
	width: 60%;
	line-height: 1.5rem;
	margin-bottom: 4rem;
}

.con-top-destionation {
	justify-content: space-between;
	margin-bottom: 3rem;
}

.card-top-destination {
	width: 31%;
}

.card-top-destination div.flex-row {
	justify-content: space-between;
	align-items: center;
}

.card-top-destination div.flex-row span {
	font-size: 0.825rem;
	padding: 0.3rem 0.6rem;
	align-items: center;
	border: 1px solid #2b37528b;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.card-top-destination span.flex-row i {
	margin-right: 0.5rem;
	color: #2e6e65;
}

.card-top-destination span.flex-row p {
	color: #2e6e65;
	opacity: 0.8;
}

.card-top-destination > p {
	margin-top: 1.5rem;
	line-height: 1.5rem;
}

.img-destination-top {
	aspect-ratio: 16/9;
	overflow: hidden;
	margin-bottom: 1.5rem;
}

.img-destination-top img {
	width: 100%;
}

.top-destination span button {
	background-color: #f4f7ed;
	border: 1px solid #2b3752;
}

.top-destination span a {
	margin-left: 1rem;
	color: #2e6e65;
}

/* ini bagian aktivitas turis bali */
.tourist-activity {
	align-items: center;
}

.tourist-activity > div:first-of-type {
	text-align: center;
}

.con-tourist-activity {
	flex-wrap: wrap;
	gap: calc(4% / 2);
	justify-content: center;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.card-tourist-activity {
	width: 32%;
	border: 1px solid #2b3752b4;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
}

.card-tourist-activity:hover {
	box-shadow: 0px 1px 12px 8px rgba(0, 0, 0, 0.16);
}

.img-tourist-activity {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	aspect-ratio: 4/3;
	overflow: hidden;
}

.card-tourist-activity img {
	width: 100%;
}

.bottom-card-activity {
	padding: 1rem;
}

.category {
	font-size: 0.875rem;
	font-weight: 500;
}

.bottom-card-activity h4 {
	margin: 0.8rem 0 1rem;
}

.underline-h4 {
	text-decoration: underline;
}

.view-all {
	display: block;
	margin: 0 auto;
}

/* destinasi pilihan */
.prefer-destination {
	justify-content: center;
	background-color: #f4f7ed;
}

.prefer-destination > div:first-of-type {
	text-align: center;
	margin-bottom: 4rem;
}

.con-prefer-destination {
	flex-wrap: wrap;
	gap: 1.3rem;
	justify-content: center;
}

.card-prefer-destination {
	width: 18%;
	position: relative;
	aspect-ratio: 4/5;
	overflow: hidden;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.card-prefer-destination div {
	z-index: 2;
	justify-content: center;
	align-items: flex-end;
	position: absolute;
	width: 100%;
	height: 100%;
	padding-bottom: 1rem;
	text-align: center;
}

.card-prefer-destination div h5 {
	color: #fcfcfc;
	font-size: 1.125rem;
	font-weight: 500;
}

.card-prefer-destination img {
	position: absolute;
	width: 100%;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

/* ini bagian galeri foto */
.con-galery-foto {
	margin-top: 3rem;
	display: grid;
	grid-template: 250px 250px 250px / auto auto auto auto;
	grid-gap: 1.4rem;
}

.galery-foto-1,
.galery-foto-2,
.galery-foto-4,
.galery-foto-8 {
	grid-column: span 2;
}

.galery-foto-1 {
	background-image: url("../image/galery/galery-5.jpg");
}
.galery-foto-2 {
	background-image: url("../image/galery/galery-2.jpg");
}
.galery-foto-3 {
	background-image: url("../image/galery/galery-1.jpg");
}
.galery-foto-4 {
	background-image: url("../image/galery/galery-3.jpg");
}
.galery-foto-5 {
	background-image: url("../image/galery/galery-4.jpg");
}
.galery-foto-6 {
	background-image: url("../image/galery/galery-6.jpg");
}
.galery-foto-7 {
	background-image: url("../image/galery/galery-7.jpg");
}
.galery-foto-8 {
	background-image: url("../image/galery/galery-8.jpg");
}

.con-galery-foto div {
	background-color: #2b3752;
	background-size: cover;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	filter: brightness(85%);
	transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	-webkit-filter: brightness(85%);
}

.con-galery-foto div:hover {
	filter: brightness(100%);
	transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
	-webkit-filter: brightness(100%);
}

.con-galery-foto div img {
	width: 100%;
	height: 100%;
}

/* ini bagian testimoni */
.con-testimoni {
	margin-top: 3rem;
	justify-content: space-between;
}

.con-vidio-testimoni {
	width: 60%;
}

.con-vidio-testimoni iframe {
	width: 100%;
	height: 500px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

aside.wrapper-testimoni {
	position: relative;
	justify-content: space-between;
	padding: 1.5rem 1.5rem 2rem;
	width: 35%;
	background-color: #e8eeda;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.square {
	position: absolute;
	top: 30px;
	left: -20px;
	width: 4rem;
	height: 4rem;
	background-color: #e8eeda;
	z-index: -1;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.wrapper-testimoni h3 {
	margin-bottom: 1rem;
	line-height: 2.5rem;
}

.wrapper-testimoni p {
	line-height: 1.7rem;
}

.con-profile-testimoni img {
	width: 4rem;
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
}

.con-name-profile-testimoni {
	justify-content: center;
	margin-left: 1rem;
}

.name-profile-testimoni {
	font-weight: 700;
}

.profession-testimoni {
	font-weight: 500;
	opacity: 0.8;
}

/* ini bagian footer */
footer {
	background-color: #2b3752;
}

.con-logo-n-advice {
	justify-content: space-between;
	/* align-items: center; */
	padding-bottom: 3.5rem;
}

.logo-n-social-media {
	text-align: center;
}

.logo-n-social-media img {
	width: 12rem;
}

.con-social-media {
	margin-top: 2rem;
}

.con-social-media i {
	font-size: 1.8rem;
	color: #fcfcfc;
	margin-right: 1.5rem;
}

.con-social-media i.fa-brands.last {
	margin-right: 0;
}

footer h5 {
	margin-bottom: 0.5rem;
}

footer ul li {
	list-style: none;
}

footer ul li a {
	color: #fcfcfc;
	line-height: 1.8rem;
}

form input {
	display: block;
}

.con-copyright a,
.advice,
footer h5 {
	color: #fcfcfc;
}

form .advice {
	width: 15rem;
	padding: 0.7rem 1rem;
	margin: 0.8rem 0;
	border: none;
	outline: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

form button {
	background-color: #e8eeda00;
	border: 1px solid #fcfcfc;
	color: #fcfcfc;
}

.con-copyright {
	padding-top: 3.5rem;
	color: #fcfcfc;
	text-align: center;
}

.con-copyright a:hover {
	text-decoration: underline;
}

.privacy-terms {
	display: block;
	margin-top: 0.3rem;
}
