/* ini adalah rule umum */
/* Color
#2B3752
#F4F7ED
#2E6E65
#86EE60 
#e8eeda*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: "Inter", sans-serif;
}

h1 {
	font-size: 2.488rem;
	font-weight: 700;
	line-height: 3.5rem;
}

h2 {
	font-size: 2.074rem;
}

h3 {
	font-size: 1.728rem;
}

h4 {
	font-size: 1.44rem;
}

h5 {
	font-size: 1.2rem;
}

p {
	font-size: 1rem;
}

p,
a,
button {
	font-family: "Poppins", sans-serif;
}

button {
	padding: 0.6rem 0.9rem;
	box-shadow: -7px -2px 61px -14px rgba(0, 0, 0, 0.59);
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 0.9rem;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

button:hover {
	box-shadow: 1px 1px 13px 4px rgba(0, 0, 0, 0.37);
}

.padding {
	padding: 0 4%;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.margin-top {
	margin-top: 7rem;
}

.mobile-version {
	display: none;
}

.color-h {
	color: #2b3752;
}

.hover-img:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.transisi-img {
	transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
}

/* rule untuk header */

.nav-bar {
	width: 100%;
	padding: 0.7rem 4% 0.9rem;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	transition: 0.3s ease-in-out;
	z-index: 2;
}

.nav-active {
	background-color: #2b3752e7;
	box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.159);
	transition: 0.3s ease-in-out;
}

.nav-active .list-navbar ul li a:hover {
	color: #e8eeda;
	text-decoration-color: #e8eeda;
	-moz-text-decoration-color: #e8eeda;
}

.navbar-logo {
	height: 3rem;
}

.humburger {
	display: none;
}

.list-navbar ul li {
	display: inline-block;
	margin-right: 1rem;
}

.list-navbar ul li:last-of-type {
	margin-right: 0;
}

.list-navbar ul li a {
	color: #fcfcfc;
	font-weight: 400;
}

.list-navbar ul li a:hover {
	color: #86ee60;
	transition: 0.2s ease-in-out;
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-ms-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	text-decoration: underline;
	text-decoration-color: #86ee60;
	-moz-text-decoration-color: #86ee60;
}

.hero {
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-image: url("/assets/image/hero-img.jpg");
	background-size: cover;
	/* object-fit: cover; */
}

.article-hero {
	width: 50%;
	color: #fcfcfc;
}

.article-hero h1 {
	margin-bottom: 1rem;
}

.article-hero p {
	margin-bottom: 1.5rem;
	line-height: 1.5rem;
}

.explore,
.book-now {
	background-color: #2b3752;
	color: #fcfcfc;
}

.explore {
	margin-right: 0.7rem;
}

.book-now {
	background-color: #fcfcfc00;
	border: 1px solid;
}

/* introduce bali */
.introduce-bali {
	justify-content: space-between;
}

.text-introduce-bali p {
	color: #161515;
	line-height: 1.7rem;
}

.text-introduce-bali p:first-of-type {
	margin: 1rem 0;
}

.text-introduce-bali {
	justify-content: center;
	padding-right: 3rem;
	width: 50%;
}

.img-introduce-bali {
	width: 45%;
	aspect-ratio: 1/1;
	overflow: hidden;
}

.img-introduce-bali img {
	width: 100%;
	border: 1px solid #2b375277;
}

/* bagian top destionation */
.top-destination {
	padding-bottom: 5rem;
	padding-top: 5rem;
	background-color: #f4f7ed;
}

.top-destination h1 {
	width: 60%;
	margin-bottom: 1rem;
}

.top-destination > p {
	width: 60%;
	line-height: 1.5rem;
	margin-bottom: 4rem;
}

.con-top-destionation {
	justify-content: space-between;
	margin-bottom: 3rem;
}

.card-top-destination {
	width: 31%;
}

.card-top-destination div.flex-row {
	justify-content: space-between;
	align-items: center;
}

.card-top-destination div.flex-row span {
	font-size: 0.825rem;
	padding: 0.3rem 0.6rem;
	align-items: center;
	border: 1px solid #2b37528b;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.card-top-destination span.flex-row i {
	margin-right: 0.5rem;
	color: #2e6e65;
}

.card-top-destination span.flex-row p {
	color: #2e6e65;
	opacity: 0.8;
}

.card-top-destination > p {
	margin-top: 1.5rem;
	line-height: 1.5rem;
}

.img-destination-top {
	aspect-ratio: 16/9;
	overflow: hidden;
	margin-bottom: 1.5rem;
}

.img-destination-top img {
	width: 100%;
}

.top-destination span button {
	background-color: #f4f7ed;
	border: 1px solid #2b3752;
}

.top-destination span a {
	margin-left: 1rem;
	color: #2e6e65;
}

/* ini bagian aktivitas turis bali */
.tourist-activity > div:first-of-type {
	text-align: center;
}
